.skills-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -50px;
  margin-left: 2%;
}

.skills-heading {
  text-align: center;
  font-size: 48px;
  font-family: "Georgia", serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  margin-bottom: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
}

.skills-button {
  padding: 10px 20px;
  color: #FFFFFF; /* Text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Georgia, fantasy;
  background-color: rgba(0, 0, 0, 0.5); /* Background color of the box */
  border-radius: 15px; /* Curved edges */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5); /* Box shadow */
}

.skills-button:hover{
    background-color: #66FCF1; /* Background for active button */
    color: #000000;
}

.skills-button.active {
  background-color: #66FCF1; /* Background for active button */
  color: #000000; /* Text color for active button */
}

.skills-logos-container {
  margin-top: 30px; /* Add margin to create space below the buttons */
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills-logos {
  width: 60%;
  max-height: 500px; /* Limit the height */
  overflow-y: auto; /* Enable scrolling if needed */
  padding: 10px;
  display: grid; /* Use grid layout for better control over items */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 4 columns, flexible */
  gap: 20px; /* Space between logos */
  justify-items: center; /* Center the logos horizontally */
  margin-left: 260px;
}

.skills-logos::-webkit-scrollbar {
  width: 8px;
}

.skills-logos::-webkit-scrollbar-track {
  background: #1F2833;
}

.skills-logos::-webkit-scrollbar-thumb {
  background-color: #66FCF1;
  border-radius: 4px;
  border: 2px solid #0B0C10;
}

.skill-logo {
  max-width: 150px; /* Optional: Set a max width to control the logo size */
  margin: 20px; /* Margin for spacing around each logo */
  width: 80px;
  height: 80px;
  border-radius: 15px; /* Curved edges */
  box-shadow: 0 4px 10px rgba(102, 252, 241, 0.5);; /* Box shadow */
  background-color: rgba(197, 198, 199, 0.9);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-logo:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.logo-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  gap: 20px; /* Space between logos */
}

.skill-logo-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.8); /* Background color of the box */
  border-radius: 15px; /* Curved edges */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Box shadow */
  color: #000000;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  bottom: 90%; /* Position it above the logo */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
  white-space: nowrap; /* Prevents text from wrapping */
}

.skill-logo-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
